.pin-grid {
  display: grid;
  margin: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 500px;
  gap: 1rem;
}

.pin {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}

.pin-menu {
  z-index: 50;
}

.pin-menu-dropdown {
  width: 180px;
  left: -100px;
  z-index: 100;
}

@media (max-width: 1200px) {
  .pin-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 730px) {
  .pin-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .pin-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
