body > section {
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background.png);
}

.form-title {
  padding: 10px;
  font-size: 3rem;
  color: #ffffff;
}

.background .form {
  margin: 1rem;
  padding: 2rem 4rem;
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
}

@media (max-width: 1000px) {
  .form-title {
    display: none;
  }

  .background .form {
    padding: 1rem 1.5rem;
  }

  .background > .column:nth-child(1) {
    display: none;
  }

  .background > .column:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.background .form > img {
  width: 50px;
}

fieldset {
  margin: 1rem auto;
  border: 2px solid var(--color-secondary);
}

fieldset input {
  padding: 10px 5px;
  border: none;
  width: 100%;
}

.invalid {
  border: 2px solid var(--color-primary);
}

.form-header {
  margin: 1rem auto;
}

.form > .or {
  margin: 1rem auto;
}

.form > .form-errors {
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--color-primary);
  display: none;
}

.social-buttons {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.social-button {
  gap: 10px;
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  text-decoration: none;
}

#facebook {
  color: #ffffff;
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#facebook > svg {
  fill: #ffffff;
}

#google {
  color: #ffffff;
  background-color: #dd4b39;
}

#google:hover {
  background-color: #c23321;
}

#google > svg {
  fill: #ffffff;
}

.legal-notice {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.legal-notice span {
  color: var(--color-primary);
}

.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tabs > button {
  border: none;
  background: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--color-secondary);
}

.tabs > button:hover {
  background-color: var(--color-secondary-darken);
}

.tabs > button:active {
  transform: scale(0.8);
}

.tabs > button.active {
  color: white;
  background-color: var(--color-primary);
}

.tabs > button.active:hover {
  background-color: var(--color-primary-darken);
}
