.profile .avatar {
  width: 100px;
  height: 100px;
  background-image: url(../images/avatar.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > .bio {
  font-weight: bold;
}

.profile > .stats {
  display: flex;
  gap: 0.5rem;
}

.profile > .stats > .stat {
  font-weight: bold;
}

.profile > .actions {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

#backdrop {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.edit-profile-modal {
  display: none;
  position: fixed;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: clamp(16rem, 90vw, 70rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  height: max(800px, 80vh);
  border-radius: 0.5rem;
  z-index: 4;
}

.edit-profile-modal > h1 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.edit-profile-modal > p {
  margin-bottom: 1rem;
}

.edit-profile-modal fieldset {
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile-modal fieldset > label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.edit-profile-modal fieldset > input,
.edit-profile-modal fieldset > textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
}

.edit-profile-modal img {
  width: 10%;
}

.avatar-preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar-preview > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-preview > input {
  display: none;
}

#editProfileButton:active {
  transform: scale(0.95) translateY(2px);
}

.edit-profile-modal .error {
  color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--color-primary);
  display: none;
}
